<center>
    <img src="https://gitlab.com/ibm/skills-network/courses/placeholder101/-/raw/master/labs/module%201/images/IDSNlogo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

# Peer Review Assignment - Data Engineer - Webscraping

Estimated time needed: **20** minutes

## Objectives

In this part you will:

*   Use webscraping to get bank information

For this lab, we are going to be using Python and several Python libraries. Some of these libraries might be installed in your lab environment or in SN Labs. Others may need to be installed by you. The cells below will install these libraries when executed.

In [3]:
#!pip install pandas
#!pip install bs4
#!pip install requests

Collecting bs4
  Downloading bs4-0.0.1.tar.gz (1.1 kB)
  Preparing metadata (setup.py) ... done
Collecting beautifulsoup4
  Downloading beautifulsoup4-4.10.0-py3-none-any.whl (97 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 97.4/97.4 KB 12.6 MB/s eta 0:00:00
Collecting soupsieve>1.2
  Downloading soupsieve-2.3.1-py3-none-any.whl (37 kB)
Building wheels for collected packages: bs4
  Building wheel for bs4 (setup.py) ... done
  Created wheel for bs4: filename=bs4-0.0.1-py3-none-any.whl size=1272 sha256=aa79a292a8e4e544fcaa3fe48aa35b0fa2eafb2aacebb11631ae3f7ca7dff24f
  Stored in directory: /home/jupyterlab/.cache/pip/wheels/0a/9e/ba/20e5bbc1afef3a491f0b3bb74d508f99403aabe76eda2167ca
Successfully built bs4
Installing collected packages: soupsieve, beautifulsoup4, bs4
Successfully installed beautifulsoup4-4.10.0 bs4-0.0.1 soupsieve-2.3.1

## Imports

Import any additional libraries you may need here.

In [238]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import json
import pprint
pp = pprint.PrettyPrinter(indent=4)

## Extract Data Using Web Scraping

The wikipedia webpage [https://en.wikipedia.org/wiki/List_of_largest_banks](https://en.wikipedia.org/wiki/List_of_largest_banks?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2021-01-01) provides information about largest banks in the world by various parameters. Scrape the data from the table 'By market capitalization' and store it in a JSON file.

### Webpage Contents

Gather the contents of the webpage in text format using the `requests` library and assign it to the variable <code>html_data</code>

In [136]:
# Downloading contents of the web page
r = requests.get('https://en.wikipedia.org/wiki/List_of_largest_banks')

print("Type of Content:", r.headers['content-type'])

Type of Content: text/html; charset=UTF-8

In [139]:
# Raw Data
html_data = r.text

<b>Question 1</b> Print out the output of the following line, and remember it as it will be a quiz question:

In [140]:
html_data[101:124]

'List of largest banks -'

### Scraping the Data

<b> Question 2</b> Using the contents and `beautiful soup` load the data from the `By market capitalization` table into a `pandas` dataframe. The dataframe should have the country `Name` and `Market Cap (US$ Billion)` as column names.  Display the first five rows using head.

Using BeautifulSoup parse the contents of the webpage.

In [141]:
# Creating BeautifulSoup object
soup = BeautifulSoup(html_data, 'html.parser')

In [143]:
# Verifying tables and their classes
print('Classes of each table:')
for table in soup.find_all('table'):
    print(table.get('class'))

Classes of each table:
['box-Missing_information', 'plainlinks', 'metadata', 'ambox', 'ambox-content']
['wikitable', 'sortable', 'mw-collapsible']
['wikitable', 'sortable', 'mw-collapsible']
['wikitable', 'sortable', 'mw-collapsible']

In [67]:
data = pd.read_html("https://en.wikipedia.org/wiki/List_of_largest_banks")
print(type(data))

<class 'list'>

In [68]:
market_data = data[3]
print(type(market_data))

<class 'pandas.core.frame.DataFrame'>

In [74]:
market_data = market_data.drop(["Rank"], axis=1)
market_data.head()

                                 Bank name  Market cap(US$ billion)
0                           JPMorgan Chase                   368.78
1  Industrial and Commercial Bank of China                   295.65
2                          Bank of America                   279.73
3                              Wells Fargo                   214.34
4                  China Construction Bank                   207.98

Load the data from the `By market capitalization` table into a pandas dataframe. The dataframe should have the country `Name` and `Market Cap (US$ Billion)` as column names. Using the empty dataframe `data` and the given loop extract the necessary data from each row and append it to the empty dataframe.

In [211]:
data = pd.DataFrame(columns=["Name", "Market Cap (US$ Billion)"])

for row in soup.find_all('tbody')[3].find_all('tr'):
    col = row.find_all('td')
    if(col != []):
        name = col[1].text.strip()
        market_cap = col[2].text.strip()
        
        data = data.append({'Name': name, 'Market Cap (US$ Billion)': market_cap}, ignore_index=True)

**Question 3** Display the first five rows using the `head` function.

In [212]:
data.head()

                                      Name Market Cap (US$ Billion)
0                           JPMorgan Chase                   368.78
1  Industrial and Commercial Bank of China                   295.65
2                          Bank of America                   279.73
3                              Wells Fargo                   214.34
4                  China Construction Bank                   207.98

### Loading the Data

Usually you will Load the `pandas` dataframe created above into a JSON named `bank_market_cap.json` using the `to_json()` function, but this time the data will be sent to another team who will split the data file into two files and inspect it. If you save the data it will interfere with the next part of the assignment.

In [223]:
result = data.to_json(orient="split")

In [237]:
pp.pprint(result)

('{"columns":["Name","Market Cap (US$ '
 'Billion)"],"index":[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49],"data":[["JPMorgan '
 'Chase","368.78"],["Industrial and Commercial Bank of China","295.65"],["Bank '
 'of America","279.73"],["Wells Fargo","214.34"],["China Construction '
 'Bank","207.98"],["Agricultural Bank of China","181.49"],["HSBC Holdings '
 'PLC","169.47"],["Citigroup Inc.","163.58"],["Bank of '
 'China","151.15"],["China Merchants Bank","133.37"],["Royal Bank of '
 'Canada","113.80"],["Toronto-Dominion Bank","106.61"],["Commonwealth '
 'Bank","99.77"],["HDFC Bank","105.9"],["U.S. Bancorp","84.40"],["Goldman '
 'Sachs","78.70"],["Banco Santander","75.47"],["Banco '
 'Bradesco","74.67"],["Morgan '
 'Stanley","73.93"],["Westpac","67.84"],["Mitsubishi UFJ Financial '
 'Group","66.20"],["Scotiabank","65.48"],["PNC Financial '
 'Services","63.11"],["Bank of Communications","61.85"],["BNP '
 'Paribas","59.36"],["Australia and New Zealand Banking '
 'Group","54.88"],["National Australia Bank","51.68"],["Lloyds Banking '
 'Group","51.19"],["Sumitomo Mitsui Financial Group","49.85"],["Bank of '
 'Montreal","48.12"],["UBS","45.92"],["ING Group","44.97"],["Capital '
 'One","43.22"],["The Bank of New York Mellon","42.58"],["China Minsheng '
 'Bank","39.13"],["China CITIC Bank","38.55"],["Banco Bilbao Vizcaya '
 'Argentaria","37.42"],["Mizuho Financial Group","36.95"],["Intesa '
 'Sanpaolo","36.90"],["Cr\\u00e9dit Agricole","34.89"],["Canadian Imperial '
 'Bank of Commerce","34.87"],["Royal Bank of '
 'Scotland","33.95"],["Barclays","33.26"],["Credit '
 'Suisse","30.75"],["Nordea","29.59"],["Standard Chartered","29.37"],["KBC '
 'Bank","27.40"],["UniCredit","26.88"],["Soci\\u00e9t\\u00e9 '
 'G\\u00e9n\\u00e9rale","21.27"],["Deutsche Bank","15.77"]]}')

## Authors

Ramesh Sannareddy, Joseph Santarcangelo and Azim Hirjani

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-11-25        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

Copyright © 2020 IBM Corporation.